body
{
}

#header
{

}

#side
{
   
}

#main
{
   
}

.TableHeader
{
    font-weight:bold;
    background-color:#B6AFA9;
}
.AlternatingTableRow
{
    background-color:#FFEFD5;
}
