<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="true" />
    <add key="connectionString" value="SERVER=localhost;DATABASE=ttest;UID=CustFeed;PASSWORD=P@ssw0rd01;" />
    <!--add key="connectionString" value="SERVER=mysql110.mysite4now.com;DATABASE=test_88532;UID=testUser_88532;PASSWORD=P@ssw0rd01;" /-->
    <add key="mailServer" value="mail.jonathansauter.com" />
    <add key="fromAddress" value="support@jonathansauter.com" />
    <add key="passwordResetSubject" value="Password Reset for PlastiChatter.com" />
    <add key="passwordResetBody" value="Please click {0} to reset your password at PlasticChatter.com.  Thank you, -PlasticChatter.com" />
    <add key="notificationEmail" value="support@jonathansauter.com" />
    <add key="newUserNotificationBody" value="User named {0} has been created." />
    <add key="newUserWelcomeSubject" value="Thank you for registering at at PlasticChatter.ca!" />
    <add key="newUserWelcomeBody" value="&lt;table&gt;
                    &lt;tr&gt;
                      &lt;td&gt;
                        Welcome to PlasticChatter.com! Thank you for registering!
                      &lt;td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;td&gt;
                        Username: {0}
                      &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;td&gt;
                        Email: {1}
                      &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;td&gt;
                        Password: {2}
                      &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;td&gt;
                        If you have any questions, please contact &lt;a href='mailto:support@plasticchatter.com'&gt;support@plasticchatter.com&lt;/a&gt;. 
                      &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;td&gt;
                        Thank you! - PlasticChatter.com
                      &lt;/td&gt;
                    &lt;/tr&gt;
                 &lt;/table&gt;" />
    <add key="passwordResetUrl" value="http://www.jonathansauter.com/RetrievePassword.aspx?Reset=1&amp;ResetId={0}" />
    <add key="maxImageHeight" value="200" />
    <add key="maxImageWidth" value="200" />
  </appSettings>
  
  <connectionStrings>
      <add name="AspNetForumConnectionString" connectionString="Data Source=SQL346.mysite4now.com;Initial Catalog=forum_88814;User ID=u70647517_88814;Password=7825f9;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.net>
    <mailSettings>
      <smtp>
        <network
             host="mail.jonathansauter.com"
             port="25"
             userName="support"
             password="password" />
      </smtp>
    </mailSettings>
  </system.net>
	
  <system.web>
    <customErrors mode="Off" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <httpHandlers>
      <add verb="*" path="OboutInc.UploadProgressHandler.aspx"
               type="OboutInc.FileUpload.UploadProgressHandler, obout_FileUpload, Version=1.9.120.1,
                          Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
    </httpHandlers>
	</system.web>
</configuration>
